<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 这里的button与通过data-target与下面的div联系，页面宽度减小是下面的div缩小到button中 -->
            <button type="button" class="navbar-toggle" data-target=".navbar_ex1_collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Online auction</a>
        </div>

        <div class="collapse navbar-collapse navbar_ex1_collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Website address</a></li>
            </ul>
        </div>
    </div>
</nav>