<!-- first way(my way) -->
<!-- <p>
        <span *ngFor="let item of number" >
            <span *ngIf="item" class="glyphicon glyphicon-star"></span>
            <span *ngIf="!item" class="glyphicon glyphicon-star glyphicon-star-empty"></span>
        </span>
</p> -->

<!-- second way -->

<p>
    <span *ngFor="let item of number; let i = index" class="glyphicon glyphicon-star " [class.glyphicon-star-empty]="!item" 
    (click)="clickstar(i)"></span>
    
    <span > {{stars | number: '1.1-1'}} stars</span>
</p>